@if(member){
<div class="grid grid-cols-4 gap-6">
  <div class="flex flex-col border gap-5 rounded-xl overflow-hidden">
    <div>
      <img
        class="h-auto w-full"
        src="{{ member.photoUrl || './user.png' }}"
        alt="{{ member.userName }}s profile picture"
      />
    </div>
    <ul class="px-4 flex flex-col gap-2">
      <li>
        <h3 class="font-bold">Location:</h3>
        <p>{{ member.city }} - {{ member.country }}</p>
      </li>
      <li>
        <h3 class="font-bold">Age:</h3>
        <p>{{ member.age }}</p>
      </li>
      <li>
        <h3 class="font-bold">Last Active:</h3>
        <p>{{ member.lastActive | date }}</p>
      </li>
      <li>
        <h3 class="font-bold">Member since:</h3>
        <p>{{ member.created | date }}</p>
      </li>
    </ul>
    <div class="bg-gray-400 border-t px-4 py-2 flex gap-3">
      <button class="bg-blue-800 rounded-xl text-white py-1 w-full text-lg">
        Like
      </button>
      <button
        class="border-2 border-black rounded-xl py-1 w-full text-lg font bold bg-white"
      >
        Message
      </button>
    </div>
  </div>
  <div class="col-span-3">
    <ul class="flex border-b">
      <li>
        <button
          class="py-2 px-6 {{
            selectedTab == 'about'
              ? 'border-b-4 border-gray-900 '
              : 'hover:border-b-4 border-gray-300'
          }}"
          (click)="changeTab('about')"
        >
          About {{ member.knownAs }}
        </button>
      </li>
      <li>
        <button
          class="py-2 px-6 {{
            selectedTab == 'interests'
              ? 'border-b-4 border-gray-900 '
              : 'hover:border-b-4 border-gray-300'
          }}"
          (click)="changeTab('interests')"
        >
          Interests
        </button>
      </li>
      <li>
        <button
          class="py-2 px-6 {{
            selectedTab == 'photos'
              ? 'border-b-4 border-gray-900 '
              : 'hover:border-b-4 border-gray-300'
          }}"
          (click)="changeTab('photos')"
        >
          Photos
        </button>
      </li>
      <li>
        <button
          class="py-2 px-6 {{
            selectedTab == 'messages'
              ? 'border-b-4 border-gray-900 '
              : 'hover:border-b-4 border-gray-300'
          }}"
          (click)="changeTab('messages')"
        >
          Messages
        </button>
      </li>
    </ul>
    <div class="mt-3" #memberTabs>
      @switch (selectedTab) { @case ('about') {
      <div>
        <div>
          <h2 class="text-2xl font-bold">Description</h2>
          <p class="text-lg">{{ member.introduction }}</p>
        </div>
        <div class="mt-3">
          <h2 class="text-2xl font-bold">Looking for</h2>
          <p class="text-lg">{{ member.lookingFor }}</p>
        </div>
      </div>
      } @case ('interests') {
      <div>
        <h2 class="text-2xl font-bold">Interests</h2>
        <p class="text-lg">{{ member.interests }}</p>
      </div>
      } @case ('photos') {
      <div>
        @if(images.length > 0){
        <gallery [items]="images"></gallery>
        }
      </div>
      } @case ('messages') {
      <app-member-messages
        [username]="member.userName"
        [messages]="messages"
        (updateMessages)="onUpdateMessages($event)"
      />
      }}
    </div>
  </div>
</div>
}
