<div class="grid grid-cols-6 gap-2">
  @for (photo of member().photos; track photo.id) {
  <div>
    <img src="{{ photo.url }}" alt="Users photo" class="w-full" />
    <div class="flex">
      <button
        class="w-1/2 text-center font-bold {{
          photo.isMain ? 'bg-green-400' : 'bg-gray-100'
        }}"
      >
        Main
      </button>
      <button class="w-1/2 flex justify-center items-center bg-red-500">
        <svg
          class="h-5 w-50"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M10 11V17"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M14 11V17"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M4 7H20"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </svg>
      </button>
    </div>
  </div>
  }
</div>
<div class="flex gap-5 mt-5">
  <div>
    <h3 class="text-3xl mb-5">Add Photos</h3>
    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="border bg-gray-100 p-20 text-center"
    >
      <i class="fa fa-upload fa-3x"></i>
      Drop photos here
    </div>
  </div>
  <div
    class="flex flex-col gap-5 grow"
    style="margin-bottom: 40px"
    *ngIf="uploader?.queue?.length"
  >
    <h3 class="text-3xl">Upload queue</h3>
    <p>Queue length: {{ uploader?.queue?.length }}</p>
    <table>
      <thead>
        <tr>
          <th width="50%" class="text-start">Name</th>
          <th class="text-start">Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader?.queue" class="border-t-2 text-sm">
          <td>
            <strong>{{ item?.file?.name }}</strong>
          </td>
          <td *ngIf="uploader?.options?.isHTML5" nowrap>
            {{ item?.file?.size / 1024 / 1024 | number : ".2" }} MB
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <div>
        Queue progress:
        <div class="progress">
          <div
            class="bg-green-400"
            role="progressbar"
            [ngStyle]="{ width: uploader?.progress + '%' }"
          ></div>
        </div>
      </div>
      <div class="flex gap-2">
        <button
          type="button"
          class="rounded-xl text-white py-1 w-full bg-green-600"
          (click)="uploader?.uploadAll()"
          [disabled]="!uploader?.getNotUploadedItems()?.length"
        >
          <span class="fa fa-upload"></span> Upload all
        </button>
        <button
          type="button"
          class="rounded-xl text-white py-1 w-full bg-yellow-600"
          (click)="uploader?.cancelAll()"
          [disabled]="!uploader?.isUploading"
        >
          <span class="fa fa-ban"></span> Cancel all
        </button>
        <button
          type="button"
          class="rounded-xl text-white py-1 w-full bg-red-600"
          (click)="uploader?.clearQueue()"
          [disabled]="!uploader?.queue?.length"
        >
          <span class="fa fa-trash"></span> Remove all
        </button>
      </div>
    </div>
  </div>
</div>
